* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}
.app__header {
  object-fit: contain;
  height: 10vh;
  background-color: white;
  padding: 20px;
  border-bottom: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  height: 12vh;
  width: max-content;
  object-fit: contain;
}

.app__posts {
  padding: 15px;
}
